@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: theme("colors.neutral.50");
    --color-text-muted: theme("colors.neutral.50");
    --color-text-inverted: theme("colors.neutral.50");
    --color-text-accent: theme("colors.neutral.50");
    --color-fill: theme("colors.neutral.50");
    --color-accent-fill: theme("colors.neutral.50");
    --color-old-neutral: 238, 240, 244;
    --color-accent: theme("colors.neutral.50");
    --color-button-accent: theme("colors.neutral.50");
    --color-button-accent-hover: theme("colors.rose.500");
    --color-button-muted: theme("colors.neutral.100");

    --delay-alternate-close: 300ms;
    --delay-alternate-far: 400ms;
  }

  .theme-one-base {
    --primary-color: theme("colors.rose.400");
    --color-text-base: theme("colors.neutral.950");
    --color-text-muted: theme("colors.neutral.700");
    --color-text-inverted: theme("colors.rose.400");
    --color-text-accent: theme("colors.rose.400");
    --color-text-check: theme("colors.green.300");
    --color-fill: theme("colors.neutral.100");
    --color-accent-fill: var("--primary-color");
    --color-old-neutral: 238, 240, 244;
    --color-accent: theme("colors.rose.400");
    --color-button-accent: theme("colors.rose.400");
    --color-button-accent-hover: theme("colors.rose.500");
    --color-button-muted: theme("colors.neutral.100");

    --delay-alternate-close: 250ms;
    --delay-alternate-far: 0ms;
  }

  .theme-one-active {
    --color-text-base: theme("colors.neutral.50");
    --color-text-muted: theme("colors.rose.50");
    --color-text-inverted: theme("colors.amber.200");
    --color-text-accent: theme("colors.teal.200");
    --color-text-check: theme("colors.green.300");
    --color-fill: theme("colors.neutral.100");
    --color-accent-fill: theme("colors.rose.400");
    --color-old-neutral: 238, 240, 244;
    --color-accent: theme("colors.rose.400");
    --color-button-accent: theme("colors.rose.400");
    --color-button-accent-hover: theme("colors.rose.500");
    --color-button-muted: theme("colors.neutral.100");

    --delay-alternate-close: 450ms;
    --delay-alternate-far: 450ms;
  }

  .theme-two-base {
    --color-text-base: theme("colors.neutral.950");
    --color-text-muted: theme("colors.neutral.700");
    --color-text-inverted: theme("colors.sky.300");
    --color-text-accent: theme("colors.sky.300");
    --color-text-check: theme("colors.green.300");
    --color-fill: theme("colors.neutral.100");
    --color-accent-fill: theme("colors.sky.300");
    --color-old-neutral: 238, 240, 244;
    --color-accent: theme("colors.sky.300");
    --color-button-accent: theme("colors.sky.300");
    --color-button-accent-hover: theme("colors.sky.500");
    --color-button-muted: theme("colors.neutral.100");

    --delay-alternate-close: 250ms;
    --delay-alternate-far: 0ms;
  }

  .theme-two-active {
    --color-text-base: theme("colors.neutral.50");
    --color-text-muted: theme("colors.rose.50");
    --color-text-inverted: theme("colors.yellow.300");
    --color-text-accent: theme("colors.amber.200");
    --color-text-check: theme("colors.green.300");
    --color-fill: theme("colors.neutral.100");
    --color-accent-fill: theme("colors.sky.300");
    --color-old-neutral: 238, 240, 244;
    --color-accent: theme("colors.sky.300");
    --color-button-accent: theme("colors.sky.300");
    --color-button-accent-hover: theme("colors.sky.500");
    --color-button-muted: theme("colors.neutral.100");

    --delay-alternate-close: 450ms;
    --delay-alternate-far: 450ms;
  }

  .theme-three-base {
    --primary-color: theme("colors.violet.300");
    --color-text-base: theme("colors.neutral.950");
    --color-text-muted: theme("colors.neutral.700");
    --color-text-inverted: theme("colors.violet.300");
    --color-text-accent: theme("colors.violet.300");
    --color-text-check: theme("colors.green.300");
    --color-fill: theme("colors.neutral.100");
    --color-accent-fill: "var(--primary-color)";
    --color-old-neutral: 238, 240, 244;
    --color-accent: "var(--primary-color)";
    --color-button-accent: theme("colors.cyan.400");
    --color-button-accent-hover: theme("colors.cyan.500");
    --color-button-muted: theme("colors.neutral.100");

    --delay-alternate-close: 250ms;
    --delay-alternate-far: 0ms;
  }

  .theme-three-active {
    --primary-color: theme("colors.violet.300");
    --color-text-base: theme("colors.neutral.50");
    --color-text-muted: theme("colors.neutral.50");
    --color-text-inverted: theme("colors.green.200");
    --color-text-accent: theme("colors.amber.200");
    --color-text-check: theme("colors.green.200");
    --color-fill: theme("colors.neutral.100");
    --color-accent-fill: theme("colors.cyan.200");
    --color-old-neutral: 238, 240, 244;
    --color-accent: theme("colors.cyan.200");
    --color-button-accent: theme("colors.cyan.200");
    --color-button-accent-hover: theme("colors.cyan.500");
    --color-button-muted: theme("colors.neutral.100");

    --delay-alternate-close: 450ms;
    --delay-alternate-far: 450ms;
  }
}

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
